*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  color: inherit;
}
button,
[role="button"] {
  cursor: pointer;
}
code {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #eee;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  max-width: 1200px;
  flex-grow: 1;
  padding: 36px;
  padding-bottom: 72px;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  padding: 36px;
  padding-top: 72px;
}

.page-root {
  display: flex;
  flex-direction: row;
}

label {
  font-family: "Consolas";
  font-size: 0.9em;
  min-width: 56px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.fl-col {
  display: flex;
  flex-direction: column;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.article-form-root {
  display: flex;
  flex-direction: row;
}

.articles-root {
  width: 650px;
}

.articles-side {
  width: 200px;
  margin-left: 50px;
}

.form-root {
  width: 400px;
}

.form-side {
  width: 400px;
  margin-left: 100px;
}

.tag-item {
  width: auto;
  height: 16px;
  border-radius: 16px;
  color: white;
  font-size: 0.75em;
  box-sizing: border-box;
  padding: 10px 8px;
  background-color: #444;
  cursor: pointer;
  pointer-events: all;
}

.tag-item:hover {
  background-color: #08d;
}

.highlighted {
  background-color: #00bb;
}

.selected {
  color: #00bb;
  font-weight: bold;
}

.create-button {
  padding: 4px 10px;
  background-color: #333;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  font-size: 0.9em;
}

.create-button.selected {
  color: white;
  background-color: #bbb;
  pointer-events: none;
}

.create-button:hover {
  background-color: #555;
}

.footer-root {
  margin-top: 48px;
  margin-bottom: 12px;
  gap: 16px;
}

.popup-menu-item {
  cursor: pointer;
  pointer-events: all;
  padding: 4px 12px;
  background-color: transparent;
}

.popup-menu-item:hover {
  background-color: #00000010;
}

@media screen and (max-width: 960px) {
  .page-root {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  body {
    width: 100vw;
    padding: 16px;
    gap: 16px;
    margin: 0;
  }

  main {
    width: 90vw;
    padding: 4px;
    margin: 0;
  }

  .articles-root {
    width: 100%;
  }

  .articles-side {
    width: 100%;
    margin-top: 72px;
    margin-bottom: 72px;
    margin-left: 0px;
  }

  .article-form-root {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
  }

  .form-root {
    width: 100%;
  }

  .form-side {
    width: 100%;
    margin-top: 36px;
    margin-left: 0;
  }

  .footer-root {
    margin-top: 0px;
    margin-bottom: 12px;
    gap: 16px;
  }
}
